*, *:before, *:after { box-sizing: border-box; }
body {
    /* font-family: "Arial Narrow", Arial, Helvetica, sans-serif; */
    font-size: 24px;
    margin: 0;
    background-color: #fff;
    color: #000;
}
a {
    color: #000;
}
hr {
    border: 0;
    border-bottom: 3px solid #000;
}

/* Cover */
section#cover {
    position: relative;
    z-index: 1000;
    overflow-x: hidden;
}
section#cover #stage {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
}
section#cover #stage a:hover {
    background-color: #fff;
}
section#cover #center-stage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
section#cover #dansje {
    background-color: #000;
    margin-bottom: 10px;
    max-width: 600px;
    justify-self: center;
    align-self: center;
}
section#cover nav {
    position: relative;
    bottom: 10px;
    left: 10px;
}
section#cover nav a {
    color: #fff;
    margin-right: 10px;
    font-weight: bold;
    position: absolute;
}
section#cover nav a:hover {
    color: #000;
}
section#cover nav a#nav-entrance {
    top: 8px;
    left: 239px;
}
section#cover nav a#nav-ingredients {
    top: 91px;
    left: 506px;
}
section#cover nav a#nav-instructions {
    top: 398px;
    left: 566px;
}
section#cover nav a#nav-timer {
    top: 487px;
    left: -39px;
}
section#cover nav a#nav-examples {
    top: 138px;
    left: -96px;
}
section#cover nav a#nav-exit {
    top: 593px;
    left: 332px;
}


/* Fixed Navigation */
nav#fixed-nav {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
nav#fixed-nav a {
    color: #000;
    margin-right: 10px;
    font-weight: bold;
    background-color: #fff;
    
}
nav#fixed-nav a::before {
    content: '';
    width: 100px;
    height: 60px;
    display: inline-block;
    border: 3px solid #fff;
    background-color: #000;
    margin-right: 10px;
}
nav#fixed-nav a:hover::before {
    background-color: #fff;
    border: 3px solid #000;
}

/* Sections */
section {
    min-height: 100vh;
    width: 100vw;
    padding: 20px;
}
section#cover {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img {
    width: 100%;
    max-width: 800px;
}

/* Intro */
section#intro {
    font-size: 50px;
}
section#intro h1 {
    margin-top: 20px;
}
#intro-video {
    width: 300px;
}
section#play {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}
section#play .column {
    background-color: #e6e6e6;
    padding: 20px;
}
section#play .column h2 {
    margin-top: 0;
}
section ol, section ul {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    font-size: 40px;
}

section h2 {
    margin-top: 0;
}
section#exit {
    
}
section#in-motion figure {
    margin: 0;
    padding: 0;
}
section#in-motion figure figcaption {
    font-size: 16px;
}




.small {
    font-size: 12px;
    line-height: 13px;
}

a#exercise {
    color: #000;
    /* border: 3px solid #000;
    display: inline-block;
    padding: 10px;
    max-width: max-content; */
}
#computers {
    display: flex;
    flex-flow: row wrap;
}
#computers a {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 8px;
    color: #000;
    border: 3px solid #000;
    aspect-ratio: 16 / 9;
    min-width: 400px;
    /* background-color: rgb(29, 29, 29); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 20px;
}
#computers a:hover {
    background-color: #e6e6e6;
}

.computer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.computer .screen {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid #000;
    background-color: #fff !important;
}
.computer .base {
    width: 40px;
    height: 10px;
    background-color: blue;
    border: 2px solid #000;
}

@media(max-width:600px) {
    nav#fixed-nav a {
        font-size: 18px;
    }
    nav#fixed-nav a::before {
        width: 24px;
        height: 20px;
    }

    /* Entrance */
    section#intro h1 {
        font-size: 40px;
    }
    #about, h2, ul, ol {
        font-size: 30px;
    }

    #computers a {
         min-width: 100%;
    }

    section#cover nav a {
        font-size: 14px;
    }
    section#cover #stage {
        width: 345px;
        margin-top: -50px;
    }
    section#cover #dansje {
        max-width: 200px;
    }
    section#cover nav a#nav-entrance {
        top: 191px;
        left: 128px;
    }
    section#cover nav a#nav-ingredients {
        top: 217px;
        left: 239px;
    }
    section#cover nav a#nav-instructions {
        top: 361px;
        left: 229px;
    }
    section#cover nav a#nav-timer {
        top: 378px;
        left: 34px;
    }
    section#cover nav a#nav-examples {
        top: 244px;
        left: 7px;
    }
    section#cover nav a#nav-exit {
        top: 421px;
        left: 146px;
    }
}